Package: AppImageBuilder
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Zerbaib <zerbaib@proton.me>
Depends: bash, libgtk-3-0 | gtk3-engines-xfce, xdg-utils
Description: Script d'automatisation pour les AppImage
 AppImage Automation est un script en bash qui automatise l'utilisation
 d'une AppImage sur un système Linux. Il rend l'AppImage exécutable, crée
 un raccourci sur le bureau et dans le menu d'applications (Start Menu),
 et met à jour les bibliothèques GTK si nécessaire.
