[Desktop Entry]
Version=1.3
Type=Application
Name=AppImageBuilder
Exec=AppImageBuilder.sh %U
# Icon=chemin/vers/icone
Terminal=false
Categories=Utility;